/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  /* Основные цвета */
  --primary-color: #fff1f7;
  --secondary-color: #353430;
  --accent-color: #ff8dcb;
  --title-color: #ffc2e6;

  /* Кнопки */
  --button-primary-color: var(--secondary-color);
  --button-primary-color-hover: #32312d66;

  /* Переопределяемые переменные */
  --section-title-color: var(--secondary-color);
  --subsection-title-color: var(--secondary-color);
  --main-text-color: var(--secondary-color);
  --main-background-color: var(--primary-color);

  /* Пути */
  --bg-img-path: url(../images/cover-image-light.png);
}

/* COMMON-STYLES START */

.theme-light .rec-icon_header::before,
.theme-light .rec-icon_header::after {
  display: none;
}
/* COMMON-STYLES END */

@media (prefers-color-scheme: light) {

  :root {
    /* Основные цвета */
    --primary-color: #fff1f7;
    --secondary-color: #353430;
    --accent-color: #ff8dcb;
    --title-color: #ffc2e6;

    /* Кнопки */
    --button-primary-color: var(--secondary-color);
    --button-primary-color-hover: #32312d66;

    /* Переопределяемые переменные */
    --section-title-color: var(--secondary-color);
    --subsection-title-color: var(--secondary-color);
    --main-text-color: var(--secondary-color);
    --main-background-color: var(--primary-color);
  }

  /* COMMON-STYLES START */

  .theme-light .rec-icon_header::before,
  .theme-light .rec-icon_header::after {
    display: none;
  }
  /* COMMON-STYLES END */
  /* Дублируем переменные светлой темы */
}

/* Остальные стили, только при необходимости */
